<footer>
    <div class="row">
      
    
      <div class="col-lg-6 col-md-6 col-sm-6">
        
        <div class='footer-items-body'>
          <p class='footer-items' >About the team</p>
          <p class='footer-items'>Contact us</p>
          <p class='footer-items'>Advertise with us</p>
          <p class='footer-items'>FAQ</p>
        </ul>
    </div>
  </div>
    
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class='footer-items-body'>

        <p>Sign up to receive exciting updates</p>
        <form action="/" method='POST'>
          <input type="text" name="" value="" placeholder="Email address">
        <button  class='btn btn-sm btn-primary mailing-btn' type="button" name="button" placeholder="Email address">Submit</button>

        </form>
      </div>
    </div>

    
      
    
    
    
    </div>
  </footer>