<%- include("partials/header"); -%>

<h3 class='blog-title'><%= blogTitle %> </h3>
    <p class='blog-content'> <%= startingContent.substring(0,200)  + " ..."%>
        <a href=>Read More</a> </p>



<%- include("partials/footer"); -%>